{% extends 'base.html.twig' %}


{% block body %}
<header>
    <link rel="stylesheet" href="{{ asset('rbt-modules1eb7.css')}}">
    <link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />

</header>
<body>
<br><br><br><br><br><br><br>
<br>
<span class="edgtf-icon-stack">
<i class="edgtf-icon-ion-icon ion-android-arrow-up "></i> <span class="edgtf-btt-bg-holder"></span>
</span>

<div class="edgtf-content" style="margin-top: -130px">
    <div class="edgtf-content-inner"> <div class="edgtf-team-single-holder">
            <div class="edgtf-team-single-top-holder">
                <div class="edgtf-team-single-image-background" style="background-image: url( {{ asset('wp-content/plugins/overworld-core/assets/css/img/transparent.png)') }};background-image: url( {{ asset('https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/team-title-img.jpg') }});background-repeat: no-repeat;background-position: top center;background-size: cover"></div>
                <div class="edgtf-team-single-info-top">
                    <div class="edgtf-team-single-info-top-inner">
                        <img width="215" height="224" src="{{ asset('wp-content/uploads/2019/10/team-img-7.png') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" /> <div class="edgtf-team-single-info-top-details">
                            <h2 itemprop="name" class="edgtf-name entry-title">
                                Knightsouls </h2>
                        </div>
                    </div>
                </div></div> <div class="edgtf-grid">
                <div class="edgtf-grid-row ">
                    <div class="edgtf-page-content-holder edgtf-grid-col-12">
                        <div class="edgtf-team-single-outer">
                            <div class="edgtf-team-info-holder">
                                <div class="edgtf-team-info-main">
                                    <div class="edgtf-team-sponsor edgtf-team-section">
                                        <div class="edgtf-team-sponsor-thumb">
                                            <img width="34" height="49" src="{{ asset('wp-content/uploads/2019/10/sponsor-img-1.png') }}" class="attachment-full size-full" alt="a" loading="lazy" /> </div>
                                        <div class="edgtf-team-sponsor-meta">
                                            <div class="edgtf-team-sponsor-name">
                                                Dota 2 </div>
                                        </div>
                                    </div>
                                    <div class="edgtf-team-social-holder edgtf-team-section">
                                        <span class="edgtf-team-social-title">Follow:</span>
                                        <span class="edgtf-team-social-icons">
<span class="edgtf-team-icon"> <span class="edgtf-icon-shortcode edgtf-normal   ">
<a class="" href="https://twitter.com/QodeInteractive" target="_blank">
<i class="edgtf-icon-font-awesome fab fa-twitter-square edgtf-icon-element"></i> </a>
</span>
</span>
<span class="edgtf-team-icon"> <span class="edgtf-icon-shortcode edgtf-normal   ">
<a class="" href="https://www.youtube.com/QodeInteractiveVideos" target="_blank">
<i class="edgtf-icon-font-awesome fab fa-youtube edgtf-icon-element"></i> </a>
</span>
</span>
<span class="edgtf-team-icon"> <span class="edgtf-icon-shortcode edgtf-normal   ">
<a class="" href="https://www.twitch.tv/" target="_blank">
<i class="edgtf-icon-font-awesome fab fa-twitch edgtf-icon-element"></i> </a>
</span>
</span>
</span>
                                    </div>
                                    <div class="edgtf-team-personal edgtf-team-section">
                                        <div class="edgtf-team-wins-holder edgtf-team-info-container">
                                            <div class="edgtf-team-wins-info edgtf-team-info-content">
                                                <div class="edgtf-team-wins edgtf-team-info-title">
                                                    0 </div>
                                            </div>
                                            <div class="edgtf-team-wins-label edgtf-team-info-label">Wins</div>
                                        </div>
                                        <div class="edgtf-team-loses-holder edgtf-team-info-container">
                                            <div class="edgtf-team-loses-info edgtf-team-info-content">
                                                <div class="edgtf-team-loses edgtf-team-info-title">
                                                    1 </div>
                                            </div>
                                            <div class="edgtf-team-loses-label edgtf-team-info-label">Loses</div>
                                        </div>
                                        <div class="edgtf-team-draws-holder edgtf-team-info-container">
                                            <div class="edgtf-team-draws-info edgtf-team-info-content">
                                                <div class="edgtf-team-draws edgtf-team-info-title">
                                                    0 </div>
                                            </div>
                                            <div class="edgtf-team-draws-label edgtf-team-info-label">Draws</div>
                                        </div>
                                        <div class="edgtf-team-plays-holder edgtf-team-info-container">
                                            <div class="edgtf-team-plays-info edgtf-team-info-content">
                                                <div class="edgtf-team-plays edgtf-team-info-title">
                                                    1 </div>
                                            </div>
                                            <div class="edgtf-team-plays-label edgtf-team-info-label">Plays</div>
                                        </div>
                                    </div> </div>
                                <div class="edgtf-team-info-description">
                                    <div class="edgtf-section-title-holder   edgtf-simple-decorated-title edgtf-h3-title "> <div class="edgtf-st-inner"> <div class="edgtf-st-title-holder"> <h3 class="edgtf-st-title"> About The Team </h3> </div> </div></div> <div class="edgtf-team-description-content"><p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget.</p>
                                    </div>
                                </div>
                            </div> <div class="edgtf-team-single-content">
                                <section class="wpb-content-wrapper"><div class="vc_row wpb_row vc_row-fluid vc_custom_1574433735253"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-section-title-holder  edgtf-left-position edgtf-simple-decorated-title edgtf-h3-title ">
                                                        <div class="edgtf-st-inner">
                                                            <div class="edgtf-st-title-holder">
                                                                <h3 class="edgtf-st-title">
                                                                    Rooster </h3>
                                                            </div>
                                                        </div>
                                                    </div><div class="vc_empty_space" style="height: 23px"><span class="vc_empty_space_inner"></span></div><div class="edgtf-player-list-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-three-columns edgtf-large-space" data-number-of-columns="three" data-enable-navigation="no" data-enable-pagination="no" data-slider-margin="no">
                                                        <div class="edgtf-pl-inner edgtf-outer-space ">
                                                            <div class="edgtf-player edgtf-item-space">
                                                                <div class="edgtf-player-inner">
                                                                    <div class="edgtf-player-image">
                                                                        <img width="800" height="800" src="{{ asset('wp-content/uploads/2019/10/rooster-img-6.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-6-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" /> <div class="edgtf-player-info">
                                                                            <h4 itemprop="name" class="edgtf-player-name entry-title">dereck bissen</h4>
                                                                            <h6 class="edgtf-player-nickname">weisse.toifel</h6>
                                                                        </div>
                                                                        <a class="edgtf-player-overlay-link" itemprop="url" href="" title="dereck bissen"></a>
                                                                    </div>
                                                                </div>
                                                            </div><div class="edgtf-player edgtf-item-space">
                                                                <div class="edgtf-player-inner">
                                                                    <div class="edgtf-player-image">
                                                                        <img width="800" height="800" src="" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-1.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-1-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-1-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-1-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-1-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" /> <div class="edgtf-player-info">
                                                                            <h4 itemprop="name" class="edgtf-player-name entry-title">Ben Gaqvist</h4>
                                                                            <h6 class="edgtf-player-nickname">Crerraf</h6>
                                                                        </div>
                                                                        <a class="edgtf-player-overlay-link" itemprop="url" href="" title="Ben Gaqvist"></a>
                                                                    </div>
                                                                </div>
                                                            </div><div class="edgtf-player edgtf-item-space">
                                                                <div class="edgtf-player-inner">
                                                                    <div class="edgtf-player-image">
                                                                        <img width="800" height="800" src="{{ asset('wp-content/uploads/2019/10/rooster-img-2.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-2.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-2-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-2-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-2-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-2-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" /> <div class="edgtf-player-info">
                                                                            <h4 itemprop="name" class="edgtf-player-name entry-title">Gösta Ström</h4>
                                                                            <h6 class="edgtf-player-nickname">Maymeth</h6>
                                                                        </div>
                                                                        <a class="edgtf-player-overlay-link" itemprop="url" href="" title="Gösta Ström"></a>
                                                                    </div>
                                                                </div>
                                                            </div><div class="edgtf-player edgtf-item-space">
                                                                <div class="edgtf-player-inner">
                                                                    <div class="edgtf-player-image">
                                                                        <img width="800" height="800" src="{{ asset('wp-content/uploads/2019/10/rooster-img-3.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-3.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-3-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-3-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-3-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-3-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" /> <div class="edgtf-player-info">
                                                                            <h4 itemprop="name" class="edgtf-player-name entry-title">Arnfa Akerme</h4>
                                                                            <h6 class="edgtf-player-nickname">Calend</h6>
                                                                        </div>
                                                                        <a class="edgtf-player-overlay-link" itemprop="url" href="" title="Arnfa Akerme"></a>
                                                                    </div>
                                                                </div>
                                                            </div><div class="edgtf-player edgtf-item-space">
                                                                <div class="edgtf-player-inner">
                                                                    <div class="edgtf-player-image">
                                                                        <img width="800" height="800" src="{{ asset('wp-content/uploads/2019/10/rooster-img-4.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-4.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-4-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-4-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-4-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-4-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" /> <div class="edgtf-player-info">
                                                                            <h4 itemprop="name" class="edgtf-player-name entry-title">Zacha Magnus</h4>
                                                                            <h6 class="edgtf-player-nickname">Qiesa</h6>
                                                                        </div>
                                                                        <a class="edgtf-player-overlay-link" itemprop="url" href="" title="Zacha Magnus"></a>
                                                                    </div>
                                                                </div>
                                                            </div><div class="edgtf-player edgtf-item-space">
                                                                <div class="edgtf-player-inner">
                                                                    <div class="edgtf-player-image">
                                                                        <img width="800" height="800" src="{{ asset('wp-content/uploads/2019/10/rooster-img-5.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="a" loading="lazy" srcset="https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-5.jpg 800w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-5-600x600.jpg 600w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-5-100x100.jpg 100w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-5-768x768.jpg 768w, https://overworld.qodeinteractive.com/wp-content/uploads/2019/10/rooster-img-5-650x650.jpg 650w" sizes="(max-width: 800px) 100vw, 800px" /> <div class="edgtf-player-info">
                                                                            <h4 itemprop="name" class="edgtf-player-name entry-title">Sverker Lind</h4>
                                                                            <h6 class="edgtf-player-nickname">Kaerawyr</h6>
                                                                        </div>
                                                                        <a class="edgtf-player-overlay-link" itemprop="url" href="../../player/sverker-lind/index.html" title="Sverker Lind"></a>
                                                                    </div>
                                                                </div>
                                                            </div> </div>
                                                    </div></div></div></div></div><div class="vc_row wpb_row vc_row-fluid vc_custom_1571228940761"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="edgtf-section-title-holder  edgtf-left-position edgtf-simple-decorated-title edgtf-h3-title ">
                                                        <div class="edgtf-st-inner">
                                                            <div class="edgtf-st-title-holder">

</body>

{% endblock %}
