        {% extends 'base.html.twig' %}
        {% block body %}
            <header>

                <link rel='stylesheet' id='overworld-edge-modules-css' href='{{ asset('wp-content/themes/overworld/assets/css/modules.min1eb7.css?ver=6.0.3') }}' type='text/css' media='all' />

            </header>


<body>
<h1 class="edgtf-st-title">
    tournaments<br /></h1>
<br><br><br><br><br><br>
<div class="edgtf-row-grid-section-wrapper edgtf-content-aligment-left">
    <div class="edgtf-row-grid-section">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <div class="edgtf-tournament-list-holder edgtf-grid-list edgtf-disable-bottom-space edgtf-three-columns edgtf-normal-space"
                             data-number-of-columns="three" data-enable-navigation="no" data-enable-pagination="no"
                             data-slider-margin="no">
                            <div class="edgtf-pl-inner edgtf-outer-space ">
                                <div class="edgtf-tournament edgtf-item-space edgtf-info-on-image">
                                    <div class="edgtf-tournament-inner">
                                        <div class="edgtf-tournament-image">
                                            <img width="800" height="507"
                                                 src="{{ asset('wp-content/uploads/2019/10/tour-list-img-5.jpg') }}"
                                                 class="attachment-full size-full" alt="a" loading="lazy"
                                                 srcset="{{ asset('wp-content/uploads/2019/10/tour-list-img-5.jpg 800w') }},{{ asset('wp-content/uploads/2019/10/tour-list-img-5-768x487.jpg 768w') }}"
                                                 sizes="(max-width: 800px) 100vw, 800px"/>
                                            <div class="edgtf-tournament-info">
                                                <div class="edgtf-tournament-top-info edgtf-tournament-section">
                                                    <div class="edgtf-tournament-date"><small>25th December 2019</small></div>
                                                    <div class="edgtf-tournament-time"><small>14:00</small></div>
                                                    <div class="edgtf-tournament-categories"><span
                                                                class="edgtf-tournament-category"><small>CS:GO</small></span></div>
                                                </div>
                                                <h4 itemprop="name" class="edgtf-tournament-name entry-title">
                                                    Vanilla </h4>
                                                <div class="edgtf-tournament-meta">
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-cash"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                           <small>280k</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-ios-game-controller-b"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                        <samll> 5v5 </samll>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon">
                                                            <img width="18" height="14"
                                                                 src="{{ asset('wp-content/uploads/2019/10/platform-logo-3.png') }}"
                                                                 class="attachment-full size-full" alt="a"
                                                                 loading="lazy"/></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                         <small> PC</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-android-people"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                         <small>2 GROUPS</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="edgtf-tournament-overlay-link" itemprop="url" href=""
                                               title="Vanilla masters 2019"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="edgtf-tournament edgtf-item-space edgtf-info-on-image">
                                    <div class="edgtf-tournament-inner">
                                        <div class="edgtf-tournament-image">
                                            <img width="800" height="507"
                                                 src="{{ asset('wp-content/uploads/2019/10/tour-list-img-6.jpg') }}"
                                                 class="attachment-full size-full" alt="a" loading="lazy"
                                                 srcset="{{ asset('wp-content/uploads/2019/10/tour-list-img-6.jpg 800w') }},{{ asset('wp-content/uploads/2019/10/tour-list-img-6-768x487.jpg 768w') }}"
                                                 sizes="(max-width: 800px) 100vw, 800px"/>
                                            <div class="edgtf-tournament-info">
                                                <div class="edgtf-tournament-top-info edgtf-tournament-section">
                                                    <div class="edgtf-tournament-date"><small>17th April 2020</small></div>
                                                    <div class="edgtf-tournament-time"><small>19:00</small></div>
                                                    <div class="edgtf-tournament-categories"><span
                                                                class="edgtf-tournament-category"><small>Destiny 2</small></span></div>
                                                </div>
                                                <h4 itemprop="name" class="edgtf-tournament-name entry-title">
                                                    Jaco Pistorius cup </h4>
                                                <div class="edgtf-tournament-meta">
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-cash"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                        <small> 280k</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-ios-game-controller-b"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                          <small>  6v6</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon">
                                                            <img width="18" height="14"
                                                                 src="{{ asset('wp-content/uploads/2019/10/platform-logo-1.png') }}"
                                                                 class="attachment-full size-full" alt="a"
                                                                 loading="lazy"/></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                            <small> PS4</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-android-people"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                            <small>4 GROUPS</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="edgtf-tournament-overlay-link" itemprop="url" href=""
                                               title="Jaco Pistorius cup"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="edgtf-tournament edgtf-item-space edgtf-info-on-image">
                                    <div class="edgtf-tournament-inner">
                                        <div class="edgtf-tournament-image">
                                            <img width="800" height="507"
                                                 src="{{ asset('wp-content/uploads/2019/10/tour-list-img-7.jpg') }}"
                                                 class="attachment-full size-full" alt="a" loading="lazy"
                                                sizes="(max-width: 800px) 100vw, 800px"/>
                                            <div class="edgtf-tournament-info">
                                                <div class="edgtf-tournament-top-info edgtf-tournament-section">
                                                    <div class="edgtf-tournament-date"><small>25th August 2020</small> </div>
                                                    <div class="edgtf-tournament-time"><small> Dota 2</small> x</div>
                                                    <div class="edgtf-tournament-categories"><span
                                                                class="edgtf-tournament-category"><small> Dota 2</small></span></div>
                                                </div>
                                                <h4 itemprop="name" class="edgtf-tournament-name entry-title">
                                                    Madrid Open </h4>
                                                <div class="edgtf-tournament-meta">
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-cash"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                            <small> 280k</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-ios-game-controller-b"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                            <small>5v5</small>
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon">
                                                            <img width="18" height="14"
                                                                 src="{{ asset('wp-content/uploads/2019/10/platform-logo-3.png') }}"
                                                                 class="attachment-full size-full" alt="a"
                                                                 loading="lazy"/></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                            PC
                                                        </div>
                                                    </div>
                                                    <div class="edgtf-tournament-meta-item">
                                                        <div class="edgtf-tournament-meta-icon ion-android-people"></div>
                                                        <div class="edgtf-tournament-meta-info">
                                                            <small> 4 GROUPS</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
</body>

        {% endblock %}