{% extends 'base.html.twig' %}



{% block body %}

  <!DOCTYPE html>
  <html lang="en">

  <!-- Mirrored from scanthemes.com/demo/HTML/wicodus/store.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 16:08:23 GMT -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wicodus - Responsive HTML5 Template</title>

    <!-- CSS -->
    <link href="assets/css/fonts/etline-font.min.css" rel="stylesheet">
    <link href="assets/css/fonts/fontawesome/all.min.css" rel="stylesheet">
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/fonts/themify-icons.css" rel="stylesheet">

    <link href="assets/plugins/owl.carousel/owl.carousel.min.css" rel="stylesheet">

    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="front_office/assets/img/apple-touch-icon.png">
    <link rel="icon" href="front_office/assets/img/favicon.png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="page-body">


  <!-- Start Content Area -->
  <header class="header">

    <!-- Start Content Area -->

    <!-- /.End Content Area -->

  </header>
  <!-- /.End Content Area -->

  <!-- Start Main Content -->
  <main class="main-content">

    <!-- Start Content Area -->
    <section class="content-section top_sellers carousel-spotlight ig-carousel pt-8 text-light">
      <div class="container">
        <header class="header">
          <h2>CATÉGORIES</h2>
        </header>
        <div class="position-relative">
          <div class="row">
            <div class="col-lg-8">
              <!-- nav tabs -->
              <ul class="spotlight-tabs spotlight-tabs-dark nav nav-tabs border-0 mb-5 position-relative flex-nowrap" id="most_popular_products-carousel-01" role="tablist">
                {% for ca in c %}
                <li class="nav-item text-fnwp position-relative">
                  <a class="nav-link active show" id="mp-2-01-tab" data-toggle="tab" href="#mp-2-01-c" role="tab" aria-controls="mp-2-01-c" aria-selected="true">{{ ca.nom }}</a>
                </li>
                {% endfor %}
                <li class="nav-item text-fnwp position-relative">
                  <a class="nav-link" id="mp-2-02-tab" data-toggle="tab" href="#mp-2-02-c" role="tab" aria-controls="mp-2-02-c" aria-selected="false">JEUX</a>
                </li>
                <li class="nav-item text-fnwp position-relative">
                  <a class="nav-link" id="mp-2-03-tab" data-toggle="tab" href="#mp-2-03-c" role="tab" aria-controls="mp-2-03-c" aria-selected="false">MATÉRIEL INFORMATIQUE</a>
                </li>
                <li class="nav-item text-fnwp position-relative">
                  <a class="nav-link" id="mp-2-02-tab" data-toggle="tab" href="#mp-2-04-c" role="tab" aria-controls="mp-2-04-c" aria-selected="false">ACCESSOIRE PC</a>
                </li>
              </ul>
              <!-- tab panes -->
              <div id="color_sel_Carousel-content_02" class="tab-content position-relative w-100">
                <!-- tab item -->
                <div class="tab-pane fade active show" id="mp-2-01-c" role="tabpanel" aria-labelledby="mp-2-01-tab">
                  <div class="row">
                    <!-- item -->
                    <div class="col-md-12 mb-4">

                      {% for p in produit %}




                        <a href=" {{path('afficheproduit',{'id':p.id }) }} " class="product-item">
                          <div class="row align-items-center no-gutters">
                            <div class="item_img d-none d-sm-block">
                              <img class="img bl-3 text-primary" src="{{asset('imageProduits/'~p.image)}}" alt="Games Store">
                            </div>
                            <div class="item_content flex-1 flex-grow pl-0 pl-sm-6 pr-6">
                              <h6 class="item_title ls-1 small-1 fw-600 text-uppercase mb-1">{{ p.nom }}</h6>

                              <div class="position-relative">
                                <span class="item_genre small fw-600">
                                  {{  p.description }}
                                </span>
                              </div>
                            </div>
                            <div class="item_discount d-none d-sm-block">
                              <div class="row align-items-center h-100 no-gutters">

                              </div>
                            </div>
                            <div class="item_price">
                              <div class="row align-items-center h-100 no-gutters">
                                <div class="text-right">

                                  <span class="fw-600" style="color: purple">{{ p.prix }} <img src="{{ asset('back_office/kamell.png') }}" alt="coin" style="width: 16px; height: 16px;"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      {% endfor %}
                    </div>
                    <!-- item -->

                    <!-- /.item -->
                    <!-- item -->

                    <!-- /.item -->
                  </div>
                </div>
              </div>

              <!-- pagination -->

              <nav class="mt-4 pt-4 border-top border-secondary" aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span class="ti-angle-left small-7" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span class="ti-angle-right small-7" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <!-- /.pagination -->
            </div>
            <div class="col-lg-4">
              <div class="filters border border-secondary rounded p-4">
                <ul class="sidebar-nav-light-hover list-unstyled mb-0 text-unset small-3 fw-600">

                  <li class="nav-item text-light transition mb-2 active">
                    <a href="#" aria-expanded="false" data-toggle="collapse" class="nav-link py-2 px-3 text-uppercase  collapsed collapser collapser-active nav-link-border">
                      <span class="p-collapsing-title">Platform</span>
                    </a>
                    <div class="collapse nav-collapse show">
                      <ul class="list-unstyled py-2">
                        <li class="nav-item">
                          <div class="nav-link py-1 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="PC_check" checked>
                                <label class="custom-control-label" for="PC_check">
                                  PC
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-1 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="MAC_check">
                                <label class="custom-control-label" for="MAC_check">
                                  MAC
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item text-light transition mb-2">
                    <a href="#" aria-expanded="false" data-toggle="collapse" class="nav-link py-2 px-3 text-uppercase  collapsed collapser nav-link-border">
                      <span class="p-collapsing-title">Genre</span>
                    </a>
                    <div class="collapse nav-collapse">
                      <ul class="list-unstyled py-2">
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Action_check">
                                <label class="custom-control-label" for="Action_check">
                                  Action
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Adventure_check">
                                <label class="custom-control-label" for="Adventure_check">
                                  Adventure
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Casual_check">
                                <label class="custom-control-label" for="Casual_check">
                                  Casual
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Early_access_check">
                                <label class="custom-control-label" for="Early_access_check">
                                  Early Access
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Free_to_play_check">
                                <label class="custom-control-label" for="Free_to_play_check">
                                  Free to Play
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Indie_check">
                                <label class="custom-control-label" for="Indie_check">
                                  Indie
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Massively_multiplayer_check">
                                <label class="custom-control-label" for="Massively_multiplayer_check">
                                  Massively Multiplayer
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Racing_check">
                                <label class="custom-control-label" for="Racing_check">
                                  Racing
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="RPG_check">
                                <label class="custom-control-label" for="RPG_check">
                                  RPG
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Simulation_check">
                                <label class="custom-control-label" for="Simulation_check">
                                  Simulation
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Sports_check">
                                <label class="custom-control-label" for="Sports_check">
                                  Sports
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Strategy_check">
                                <label class="custom-control-label" for="Strategy_check">
                                  Strategy
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item text-light transition mb-2">
                    <a href="#" aria-expanded="false" data-toggle="collapse" class="nav-link py-2 px-3 text-uppercase  collapsed collapser nav-link-border">
                      <span class="p-collapsing-title">Software</span>
                    </a>
                    <div class="collapse nav-collapse">
                      <ul class="list-unstyled py-2">
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Animation_modeling_check">
                                <label class="custom-control-label" for="Animation_modeling_check">
                                  Animation & Modeling
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Audio_production_check">
                                <label class="custom-control-label" for="Audio_production_check">
                                  Audio Production
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Design_check">
                                <label class="custom-control-label" for="Design_check">
                                  Design
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Education_check">
                                <label class="custom-control-label" for="Education_check">
                                  Education
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Game_development_check">
                                <label class="custom-control-label" for="Game_development_check">
                                  Game Development
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Photo_editing_check">
                                <label class="custom-control-label" for="Photo_editing_check">
                                  Photo Editing
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Utilities_check">
                                <label class="custom-control-label" for="Utilities_check">
                                  Utilities
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Video_production_check">
                                <label class="custom-control-label" for="Video_production_check">
                                  Video Production
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Web_publishing_check">
                                <label class="custom-control-label" for="Web_publishing_check">
                                  Web Publishing
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item text-light transition mb-2">
                    <a href="#" aria-expanded="false" data-toggle="collapse" class="nav-link py-2 px-3 text-uppercase  collapsed collapser nav-link-border">
                      <span class="p-collapsing-title">Supported VR</span>
                    </a>
                    <div class="collapse nav-collapse">
                      <ul class="list-unstyled py-2">
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="PlayStationVR_check">
                                <label class="custom-control-label" for="PlayStationVR_check">
                                  PlayStation VR
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Oculus_rift_check">
                                <label class="custom-control-label" for="Oculus_rift_check">
                                  Oculus Rift
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="HTC_vive_check">
                                <label class="custom-control-label" for="HTC_vive_check">
                                  HTC Vive
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item text-light transition mb-2">
                    <a href="#" aria-expanded="false" data-toggle="collapse" class="nav-link py-2 px-3 text-uppercase  collapsed collapser nav-link-border">
                      <span class="p-collapsing-title">Release Status</span>
                    </a>
                    <div class="collapse nav-collapse">
                      <ul class="list-unstyled py-2">
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Released_check">
                                <label class="custom-control-label" for="Released_check">
                                  Released
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Pre_Purchase_check">
                                <label class="custom-control-label" for="Pre_Purchase_check">
                                  Pre-Purchase
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                        <li class="nav-item">
                          <div class="nav-link py-2 px-3">
                            <form>
                              <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" value="" id="Coming_soon_check">
                                <label class="custom-control-label" for="Coming_soon_check">
                                  Coming Soon
                                </label>
                              </div>
                            </form>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="nav-item text-light transition mt-4">
                    <a href="#" class="btn btn-warning d-block">Reset Filter</a>
                  </li>
                </ul>
              </div>
              <div class="filters border border-secondary rounded p-4">
              <form method="post" action="{{ path('app_product') }}">
                <div class="form-group">
                  <label for="dinarAmount">Montant en dinar :</label>
                  <input type="text" class="form-control" id="dinarAmount" name="dinarAmount">
                </div>
                <div class="form-group">
                  <label for="pointAmount">Montant en SIU <img src="{{ asset('back_office/kamell.png') }}" alt="coin" style="width: 16px; height: 16px;"> :</label>
                  <input type="text" class="form-control" id="pointAmount" name="pointAmount" readonly value="{{ pointAmount ?? '' }} ">
                </div>
                <button type="submit" class="btn btn-primary">Convertir</button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- /.End Content Area -->

  </main>


  <!-- /.offcanvas-cart -->

  <!-- jQuery -->
  <script src="assets/js/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>

  <!-- User JS -->
  <script src="assets/js/scripts.js"></script>

  <!-- Main JS -->
  <script src="assets/js/main.js" id="_mainJS" data-plugins="load"></script>
  </body>

  <!-- Mirrored from scanthemes.com/demo/HTML/wicodus/store.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Feb 2023 16:08:57 GMT -->
  </html>

{% endblock %}
