{% extends 'base1.html.twig' %}
{% block body %}

<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Table des jeux</h4>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOM DE JEUX</th>
                        <th>DATE AJOUT</th>
                        <th>MAX_PLAYERS</th>
                        <th>GAME PRICE</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for f in jeux %}
                    <tr>
                        <td>{{ f.id }}</td>
                        <td>{{ f.nomGame }}</td>
                        <td>{{ f.DateAddGame.format('Y-m-d') }}</td>
                        <td>{{ f.maxPlayers }}</td>
                        <td>{{ f.priceGame }}</td>
                        <td>
                         <a href="{{ path('modifier_jeu', {'id': f.id}) }}" class="btn btn-outline-secondary btn-icon-text">  Modifier <i class="mdi mdi-file-check btn-icon-append"></i></a>
                        </td>
                        <td>
                            <a href="{{ path('supprimer_jeux', {'id': f.id}) }}" class="btn btn-outline-danger btn-icon-text">  Supprimer <i class="mdi mdi-bitbucket"></i></a>

                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    <!-- Form -->

    <div class="col-md-4 grid-margin stretch-card">

    <div class="card" >
        <div class="card-body" >
            <h4 class="card-title">Ajouter un jeu</h4>
        {{ form(form) }}
            {% if update_form is defined %}
                {{ form(update_form) }}
            {% endif %}
    </div> </div>
    </div>
{% endblock %}