{% extends 'base.html.twig' %}

{% block title %}AllCourses{% endblock %}

{% block body %}
<main class="main-content">

    <!-- Start Content Area -->
    <section class="content-section top_sellers carousel-spotlight ig-carousel pt-8 text-light">
        <div class="container">
            <header class="header">
                <h2>All Courses</h2>
            </header>
            <div class="position-relative">
                <div class="row">

                    <div class="col-lg-12">
                        <!-- nav tabs -->

                        <!-- tab panes -->
                        <div id="color_sel_Carousel-content_02" class="tab-content position-relative w-100">
                            <!-- tab item -->
                            <div class="tab-pane fade active show" id="mp-2-01-c" role="tabpanel" aria-labelledby="mp-2-01-tab">
                                <div class="row">




                                    <!-- BOUCLE FOR LENNA -->
                                    {% for c in courses %}
                                    <!-- item -->
                                    <div style="" class="col-5 mr-9 ml-2 mb-8 ">

                                        <a href="{{ path('oneCourse', {'id': c.id}) }}" class="product-item">
                                            <div class="row align-items-center no-gutters">
                                                <div class="item_img d-none d-sm-block">
                                                    <img class="img bl-3 text-primary" src="{{asset('front_office/assets/img/content/store/h-08.jpg') }}" alt="Games Store">
                                                </div>
                                                <div class="item_content flex-1 flex-grow pl-0 pl-sm-6 pr-6">
                                                    <h6 class="item_title ls-1 small-1 fw-600 text-uppercase mb-1">{{ c.titre }}</h6>

                                                    <div class="position-relative">
                                <a href="index.html.twig">coach : {{ c.getIdCoach.getId }}</a>
                                                    </div>
                                                </div>
                                                <div class="item_discount d-none">
                                                    <div class="row align-items-center h-100 no-gutters">
                                                        <div class="text-right text-secondary px-6">
                                                            <span class="fw-600 btn bg-warning">-10%</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Price -->
                                                <div class="item_price">
                                                    <div class="row align-items-center h-100 no-gutters">
                                                        <div class="text-right">

                                                            {% if c.prix>0 %}
                                                                <span class="fw-600">{{ c.prix }} Points</span>

                                                            {% else %}
                                                                <span class="fw-600">free</span>
                                                            {% endif %}


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}




                                    <!-- /.item -->

                                </div>
                            </div>
                            <!-- tab item -->



                        <!-- pagination -->
                        <nav class="mt-4 pt-4 border-top border-secondary" aria-label="Page navigation">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span class="ti-angle-left small-7" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span class="ti-angle-right small-7" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- /.pagination -->
                    </div>

                </div>
            </div>

        </div>
        </div>
    </section>
    <!-- /.End Content Area -->

</main>
{% endblock %}